NEON_DB_CONNECTION_URL=postgresql://user:pass@ep-xxx-pooler.region.aws.neon.tech/db?sslmode=require
ODDS_API_KEY=your_the_odds_api_key
APP_PASSWORD=choose_a_password
CRON_SECRET=choose_a_cron_secret
NFL_SEASON=2026
